<%= image_tag("about-icon.png", :alt => "about icon") %>

<h1>This is the about</h1>

<p>This is the first paragraph of my about page</p>

<ul>
    <li>This is list item one on my about page</li>
    <li>This is list item two on my about page</li>
    <li>This is list item three on my about page</li>
</ul>

<%= link_to 'Home', root_path %>